
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Application Properties ###
.DS_Store
.mvn
mvnw
mvnw.cmd
HELP.md
target/


src/main/resources/application-ps.properties
src/main/resources/application-dev.properties
*.mp4
